body {
    background-color: black;
}

h1, h2, h3 {
    font-family: 'Oranienbaum', sans-serif;
}

p, span, li, a {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

main {
    background-color: white;
}

header {
    background-image: url(/img/bg-main.png);
    background-repeat: no-repeat;
    background-size: 100vw; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center; 
} 

.nav {
    background-color: transparent;
}
.navbar-toggler {
    color: gray;
    border-color: gray;
    background-color: gray;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
}

.box-logo { 
    margin-top: 15rem;
    margin-bottom: 10rem;
}

.fa-brands {
    color: white;
}

.header-contact a {
    color:  white;
}

.logo {
    margin-bottom: 50px;
}

.mission {
    font-size: 30px;
    color: white;
}

.mission-text { 
    padding-top: 5rem;
    color: #e9ae1f;
    text-decoration: underline;
}

.style-help__box {
    position: relative;
}

.ribbon-wrap {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: -48px;
    left: -10px;
}

.ribbon-wrap::before, .ribbon-wrap::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    z-index: -1;
}

.ribbon-wrap::before {
    top: 0;
    right: 0;
}

.ribbon-wrap::after {
    bottom: 0;
    left: 0;
}
.ribbon  {
    width: 225px;
    text-align: center;
    padding: 8px 0;
    background-color: red;
    color: white;
    position: absolute;
    transform: rotate(-45deg);
    right: -17%;
    top: 29%;

}


.how-to__step-list {
    margin: 0 auto;
    padding: 0;
}

.table-header--yellow {
    background-color: #FDC400;
}

.tbody--light-yellow {
    background-color: #FFF100;
}

.table-bordered td, .table-bordered th {
    border-color: #FFD100;
}

.services__old-price {
    position: relative;
    display: inline-flex;
    margin: 0 auto;
    /* display: inline-block; */
}

.services__old-price::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -5px;
    width: 55px;
    transform: rotate(350deg);
    height: 0;
    border-bottom: 2px solid red;

}

.line {
    position: absolute;
    top: 10px;
    left: 0px;
    border-bottom: 2px solid red;
}

.main-content {
    margin: 0 auto;
}

.carousel {
    color: #170724;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 160px;
    margin-right: 6px;

    background-color: #eee;
    border-radius: 6px;
}

.footer {
    background-color: black;
}

.hov-card:hover {
    box-shadow: 0px -11px 21px 9px rgba(34, 60, 80, 0.33);
    -webkit-box-shadow: 0px -11px 21px 9px rgba(34, 60, 80, 0.33);
    -moz-box-shadow: 0px -11px 21px 9px rgba(34, 60, 80, 0.33);
}